nav{
    width: 100%;
    background-color: rgb(62, 62, 56);
}
.menu{
   list-style-type: none;
   display: flex;
}
.menu a{
    color: rgb(255, 255, 255);
    overflow: hidden;
    margin: 10px 20px;
    text-decoration: none;
    font-size: 20px;
    font-weight: 900;
}